## 2.5 Auswahl und Erstellung von Spalten

#### Aufgabe Membership Duration

In [97]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")

In [98]:
# Jahr wird zur Fließkommazahl (??)
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'],errors='coerce')

In [99]:
# Monate in numerisches Format konvertieren
df['Circulation Active Month'] = pd.to_datetime(df['Circulation Active Month'],errors='coerce',format="%B")

In [100]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
#df['Circulation Active Month'].info()
df['Circulation Active Month'].fillna(0)
df['Circulation Active Year'].fillna(0)

0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
           ...
437110    2004.0
437111    2004.0
437112    2004.0
437113    2004.0
437114    2004.0
Name: Circulation Active Year, Length: 437115, dtype: float64

In [101]:
# Spalte Membership Duration erzeugen und einfügen:
df['Membership Duration'] = (df['Circulation Active Year']-df['Year Patron Registered'])*12+df['Circulation Active Month']

In [102]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True,NaN
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True,NaN
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True,NaN
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True,NaN
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437110,0,Adult,14,11,45 to 54 years,x,Main,8.0,2004.0,z,Email,True,2003,False,20.0
437111,0,Adult,2,0,45 to 54 years,x,Main,8.0,2004.0,z,Email,True,2003,True,20.0
437112,3,Senior,5,0,75 years and over,e7,Eureka Valley,8.0,2004.0,p,Phone,False,2003,True,20.0
437113,3,Senior,4,0,65 to 74 years,m6,Mission,8.0,2004.0,z,Email,True,2004,True,8.0
437114,3,Senior,3,9,65 to 74 years,p9,Presidio,8.0,2004.0,z,Email,True,2004,True,8.0

### Beispiele aus dem Skript

In [56]:
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [5]:
x = df['Total Renewals']
df[['Total Renewals','Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # Hilfsvariable
subset = df[column_names]
print(x)
print(subset)

0          0
1          0
2          0
3          0
4          0
          ..
437110    11
437111     0
437112     0
437113     0
437114     9
Name: Total Renewals, Length: 437115, dtype: int64
        Total Renewals  Total Checkouts
0                    0                0
1                    0                0
2                    0                0
3                    0                0
4                    0                0
...                ...              ...
437110              11               14
437111               0                2
437112               0                5
437113               0                4
437114               9                3

[437115 rows x 2 columns]

In [6]:
df['dummy_variable'] = 5

In [10]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County',
       'dummy_variable'],
      dtype='object')

In [11]:
x = df['Total Renewals']
df['Total Renewals'] = 5
x

0          0
1          0
2          0
3          0
4          0
          ..
437110    11
437111     0
437112     0
437113     0
437114     9
Name: Total Renewals, Length: 437115, dtype: int64

In [12]:
import numpy as np

In [18]:
df['is_adult'] = df['Patron Type Definition'] == 'Adult'
df['log_renewals'] = np.log(df['Total Renewals']+1)

In [19]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,dummy_variable,is_adult,log_renewals
0,1,Juvenile,0,5,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True,5,False,1.791759
1,2,Teen,0,5,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True,5,False,1.791759
2,0,Adult,0,5,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True,5,True,1.791759
3,2,Teen,0,5,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True,5,False,1.791759
4,2,Teen,0,5,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True,5,False,1.791759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437110,0,Adult,14,5,45 to 54 years,x,Main,August,2004.0,z,Email,True,2003,False,5,True,1.791759
437111,0,Adult,2,5,45 to 54 years,x,Main,August,2004.0,z,Email,True,2003,True,5,True,1.791759
437112,3,Senior,5,5,75 years and over,e7,Eureka Valley,August,2004.0,p,Phone,False,2003,True,5,False,1.791759
437113,3,Senior,4,5,65 to 74 years,m6,Mission,August,2004.0,z,Email,True,2004,True,5,False,1.791759
437114,3,Senior,3,5,65 to 74 years,p9,Presidio,August,2004.0,z,Email,True,2004,True,5,False,1.791759